<div class="signin-content">  
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="login($event)" autocomplete="off">
        <p>Please login or register to continue</p>
          <div class="logEml">
              <mat-label>Email: </mat-label>
              <input matInput #emlIpt placeholder="Email" type="email" formControlName="email"><br>
          </div>
          <div class="logPwd">
              <mat-label>Password: </mat-label>
              <input matInput #pwdIpt type="password" placeholder="Password" formControlName="password">
          </div>
        <div class="authBtns">
          <button mat-raised-button color="primary" type="submit">Login</button>
          <button mat-raised-button id="regBtn" color="primary" type="button" (click)="registerUser()">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>